@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    scroll-behavior: smooth;
    --primary: #1c621b; 
    --second: #d35400;
    --second2: #f1c40f;
    --bgColor: #f6f9ff;
    --text:#333333;
  }

body {
  background: #f1f5f9;
}